.dropdowns{
  float: left;
  width: auto;
  height: 20px;
  display: grid;
  place-items: center center;
  min-width: 160px;
}

.btns{
    border: none;
    background: transparent;
    font-weight: 500;
    display: flex;
    width: 100%;
    padding: 0 1px;
    justify-content: space-around;
    cursor: pointer;
}

.text{
    float:left;
}

.imgs{
    float:left;
    width: 11px;
    height: 11px;
}

.icon-up-down{
    width: 11px;
    height: 11px;
}

.under {  
    width: auto;
    top:130px;
    border-radius: 8px;
    box-shadow: rgba(19, 41, 104, 0.2) 0px 8px 16px 0px;
    padding: 16px;
    position: absolute;
    z-index: 10;
    display: flex;
    background-color: #fff;
    opacity: 1;
}

li {
    list-style-type: none;
    width: 100%;
    display: inline-block;
    height: 48px;
    min-width: 140px;
    padding: 8px 16px 0px 0px;
    position: relative;
}
.S{
    margin:  8px 16px 0px 0px;
}

.list{
    padding: 0;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: solid 1px rgb(228, 232, 235);
    position: relative;
}

.add{
    width: auto;
    height: 48px;
    padding: 4px 0px 0px;
    display: flex;
    justify-content: center;

}

.btn-item{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.counter{
    padding: 0 3px 6px 3px;
    display: grid;
    place-items: center center;
}

.left{
    display: flex;
    flex-direction: column;
}

.cat{
    font-weight: bold;
    color: rgb(19, 41, 104);
}

.age{
    font-size: 13px;
    color: #717FA4;
}

.souscat{
    font-size: 16px;
    color: rgb(66, 84, 134);
    margin-left: 15px;
}

.selectY{
    width: auto;
}

.css-13cymwt-control{
    width: 120px;
    height: 40px;
}

.css-1fdsijx-ValueContainer{
    width: auto;
    height: 33px;
    align-content: center;
}

.css-1jqq78o-placeholder{
    font-size: 16px;
}

@media only screen and (min-width: 600px){
    .under{
        top: 45px;
    }
}

@media only screen and (min-width: 1000px){
    .under{
        top: 40px;
    }
}