.dropdownf{
  float: left;
  width: 95.5px;
  height: 20px;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center center;
}

.btnf{
    border: none;
    background: transparent;
    font-weight: 500;
    display: flex;
    width: 100%;
    padding: 0 1px;
    justify-content: space-around;
    cursor: pointer;
}


.text{
    color: rgb(33, 70, 172);
    float:left;
}

.imgf{
    float:left;
    width: 11px;
    height: 11px;
}

.icon-up-down{
    width: 11px;
    height: 11px;
}

.underf {  
    top:130px;
    border-radius: 8px;
    box-shadow: rgba(19, 41, 104, 0.2) 0px 8px 16px 0px;
    margin: 5px 0px 0px;
    position: absolute;
    z-index: 10;
    display: block;
    background-color: #fff;
    opacity: 1;
}

.listf{
    padding: 8px 0px;
    min-width: 140px;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-itemf {
    height: 40px;
    padding: 8px 16px 8px 12px;
    color: rgb(19, 41, 104);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: auto; 

    &:hover {
        font-weight: bold;
    }
}

.list > li:hover {
  background-color: none;
}

@media only screen and (min-width: 600px){
    .underf{
        top: 40px;
    }
}

@media only screen and (min-width: 1000px){
    .underf{
        top: 35px;
    }
}